{% extends "base.html" %}
{% block title %}Event{% endblock %}

{% block content %}
<div class="ui one column grid container">
    <div class="column">
      <h1>Event Details</h1>
      {% if event %}
        <h3>{{ event.name }}</h3>
        <p>Host: {{ event.host }}</p>
        <p>Location: {{ event.location }}</h3>
        <p>Date: {{ event.date }}</p>
        {% if event.price %}<p>Price: ${{ event.price }}</p>{% endif %}
        <p>Info: {{ event.details|safe }}</p>
      {% else %}
        <h3>Event not found</h3>
      {% endif %}
    </div>
</div>
{% endblock %}